# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# OS metadata
.DS_Store
Thumbs.db

# Lab Sheets
docs/lab-02/Lab_02_labsheet.md

# Backups and temporary files
docs/lab-02BackUp.zip
docs/lab-01/note
test-results/

